<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>COVID19 Dashboard :: Contact Us</title>
        <meta content="COVID19 Dashboard" name="description" />
        <meta content="Internet Architects" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <link rel="shortcut icon" href= "{{ url_for('static',filename='assets/images/corona.png') }}">

        <!--Morris Chart CSS -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/plugins/fullcalendar/vanillaCalendar.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/plugins/fullcalendar/vanillaCalendar.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/plugins/chartist/css/chartist.min.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/plugins/morris/morris.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/plugins/metro/MetroJs.min.css') }}">

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/plugins/carousel/owl.carousel.min.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/plugins/carousel/owl.theme.default.min.css') }}">

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/plugins/animate/animate.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/css/bootstrap-material-design.min.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/css/icons.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/css/style.css') }}">


    </head>
    <body class="fixed-left">

        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner"></div>
            </div>
        </div>
        <!-- Begin page -->
        <div id="wrapper">
                    <div class="dashborad-v" id="main_div">

                        <div class="container-fluid"><br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="page-title-box">
                                        <div class="btn-group float-right">
                                            <ol class="breadcrumb hide-phone p-0 m-0">
                                                <li class="breadcrumb-item"><a href="#">COVID19</a></li>
                                                <li class="breadcrumb-item active">Contact Us</li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title">Dashboard | Contact Us</h4>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <!-- end page title end breadcrumb -->
                            <div class="row">
                                <div class="col-md-12 col-xl-6">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h5><b>Contact Us</b></h5>
                                            {% with messages = get_flashed_messages() %}
                                              {% if messages %}
                                                <ul class=flashes>
                                                {% for message in messages %}
                                                  <li>{{ message }}</li>
                                                {% endfor %}
                                                </ul>
                                              {% endif %}
                                            {% endwith %}
                                            {% block body %}{% endblock %}
                                            <form class="mb-0" action="/contact/submit" method="post">
                                            <div class="form-group bmd-form-group">
                                            <label for="firstname" class="bmd-label-floating">First Name</label>
                                            <input type="text" class="form-control w-100" name="firstname" id="firstname" required>
                                        </div>
                                                 <div class="form-group bmd-form-group">
                                            <label for="lastname" class="bmd-label-floating">First Last Name</label>
                                            <input type="text" class="form-control w-100" name="lastname" id="lastname" required>
                                        </div>
                                            <div class="form-group bmd-form-group">
                                                <label for="mailaddress" class="bmd-label-floating ">Email address</label>
                                                <input type="email" class="form-control" name="mailaddress" id="mailaddress" required>
                                                <span class="bmd-help">We'll never share your email with anyone else.</span>
                                            </div>
                                            <div class="form-group bmd-form-group">
                                                <label for="subject" class="bmd-label-floating">Subject</label>
                                                <textarea class="form-control" name="subject" id="subject" rows="3" required></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-raised mb-0">Submit</button>
                                        </form>
                                            </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <!-- container -->

                    </div>
                    <!-- Page content Wrapper -->
                </div>
                <!-- content -->


            </div>
            <!-- End Right content here -->

        </div>
        <!-- END wrapper -->


        <!-- jQuery  -->
        <script src= "{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/js/popper.min.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/js/bootstrap-material-design.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/js/modernizr.min.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/js/detect.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/js/fastclick.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/js/jquery.slimscroll.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/js/jquery.blockUI.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/js/waves.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/js/jquery.nicescroll.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/js/jquery.scrollTo.min.js') }}"></script>


        <script src= "{{ url_for('static',filename='assets/plugins/carousel/owl.carousel.min.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/plugins/fullcalendar/vanillaCalendar.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/plugins/peity/jquery.peity.min.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/plugins/chartist/js/chartist.min.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/plugins/chartist/js/chartist-plugin-tooltip.min.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/plugins/metro/MetroJs.min.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/plugins/raphael/raphael.min.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/plugins/morris/morris.min.js') }}"></script>
        <script src= "{{ url_for('static',filename='assets/pages/dashborad.js') }}"></script>

        <!-- App js -->
        <script src= "{{ url_for('static',filename='assets/js/app.js') }}"></script>
       
    </body>

</html>